body{
  margin: 0;
  padding: 0;
}
.header {
  background-color: #2F2E33;
  height: 30px;
  width: 100%;
}
.nav_centre{
  margin-top: auto;
  margin-bottom: auto;
  height: 100%;
  width: 100%;
}

.gmenu{
  margin: 0;
  padding: 0;
  list-style-type:none;
  
}
.livertical{
  float: left;
  margin-left: 15px;
  color: #FFFFFF;
  
}
.a_menu{
  color:#FFFFFF;
  text-decoration: none;
  font-size: 20px;
}
.logo{
  height: 20px;
  width: 20px;
  float:left;
  margin: 5px;
}
main{
  margin-left: auto;
  margin-right: auto;
  max-width: 1024px;
}
main h1{
  text-align: center;
}
.codeBloc{
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
.code{
  background-color: #2F2E33;
  color: #FFFFFF;
  padding: 10px;
  border-radius: 2px;
}
.buttonEx{
  background: #ffffff;
  color: #2F2E33;
  border: #2F2E33;
  border-style: solid;
  border-width: 1px;
  text-decoration: none; 
  border-radius: 2px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 10px;
  float: right;
  width: 50%;
  text-align: center;
}
footer{
  position: absolute;
  left: 0;
  bottom: 0;
  text-align: center;
  color: #FFFFFF;
}